<mat-toolbar class="header mat-elevation-z4">
  <span>
      <a routerLink="/">
          <img class = "logo" src="assets/img/compra-a-granel.png" alt="logo-header">
      </a>
  </span>
  <span class="title">
          Listas de Compras
  </span>
  <div class="icons-group" >
    <mat-icon class="header-icons" title="Comprar">shopping_cart</mat-icon>
    <mat-icon class="header-icons" title="Notificações">notifications</mat-icon>
    <mat-icon class="header-icons" title="Sair">logout</mat-icon>
  </div>
</mat-toolbar>
