.header {
  display: flex;
  align-items: center;
  background-color: #3b6180fd
}

.header a {
display: flex;
align-items: center;
text-decoration: none;
color: #fff;
font-weight: 500;
}

.header .logo {
max-height: 45px ;
}

.header .title-group {
padding-left: 25px;
}

.header .title-group i {
padding-right: 5px;
}
