.header {
  display: flex;
  align-items: center;
  font-size: 21pt;
  font-weight: 200;
  color: rgb(105, 102, 108) ;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo {
max-height: 45px ;
}

.header .title {
padding-left: 25px;
}

.header .title i {
padding-right: 5px;
}

.header-icons {
  margin: 5px;
}

.header-icons:hover {
  color: #5961a1;
  cursor: pointer;
}

.icons-group {
  color: rgb(135, 131, 141) ;
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  justify-content: flex-end;
}




