.sidenav {
  background-color: transparent;
  background-image: linear-gradient( to top, rgb(237, 242, 245),  #5961a1);
  width: 70px;
  border: transparent;
}

.sidenav a {
  color: #FFF;
  transition: all 0.4s ease;
}

.sidenav a:hover{
color: #5961a1;
background-color: #FFF;
}

.sidenav i {
  padding-right: 10px;
}

.sidenav img  {
  max-height: 30px ;
  padding-right: 10%;
}

.content {
  padding: 16px;
  background-color: #FFF;
}

.menu-list {
padding: 15px;
color: #FFF;
}


