.sidenav {
    background-color: transparent;
    background-image: linear-gradient( to top, rgb(237, 242, 245),  #4e7ba0fd);
    width: 200px;
    border: transparent;
}

.sidenav a {
    color: #FFF;
    font-weight: 300;
    transition: all 0.4s ease;
    border-radius: 8px;
}

.sidenav a:hover{
  color: #4e7ba0fd;
  background-color: #FFF;
  font-weight: 300;
}

.sidenav i {
    padding-right: 10px;
}

.sidenav img  {
    max-height: 30px ;
    padding-right: 5%;
}

.content {
    padding: 16px;
    background-color: #FFF;
}

.menu-list {
  padding: 15px;
  color: #FFF;
}
