.home .title {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
  color: #FFF;
}

.home .subtitle {
  font-size: 1.1rem;
  color: #FFF;
}

.home {
  background-color: #366891fd;
}

p {
  margin-top: 2%;
  margin-left: 2%;
}




