<div class="home-card">
  <div class="columns">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>Produtos</mat-card-title>
      </mat-card-header>
      <span class="product-content">
        <img src="assets/img/Online_shopping_PNG.png" alt="Compra Online" />
      </span>
      <span class="product-content">
        <ul *ngFor="let listProduct of list">
          <li>{{ listProduct.name }}</li>
        </ul>
      </span>
    </mat-card>
  </div>
  <div class="columns">
    <mat-card class="category-card">
      <mat-card-header>
        <mat-card-title>Categorias</mat-card-title>
      </mat-card-header>
      <ul *ngFor="let listProduct of list">
        <li>{{ listProduct.category }}</li>
      </ul>
    </mat-card>
    <mat-card class="price-card">
      <mat-card-header>
        <mat-card-title>Preços</mat-card-title>
      </mat-card-header>
      <div class="price-content">
        <span>{{ this.priceMin | currency: "BRL" }}</span>
        <span class="material-icons down"> south </span>
        <span>{{ this.priceMax | currency: "BRL" }}</span>
        <span class="material-icons top"> north </span>
      </div>
    </mat-card>
    <mat-card class="category-card">
      <mat-card-header>
        <mat-card-title>Marcas</mat-card-title>
      </mat-card-header>
      <ul *ngFor="let listProduct of list">
        <li>{{ listProduct.producer }}</li>
      </ul>
    </mat-card>
  </div>
</div>
