<div class="div-page">
  <mat-card class="home mat-elevation-z4">
    <mat-card-title class="title"> Bem Vindo(a)! </mat-card-title>
  </mat-card>

    <mat-card>
      <p>Criado conforme aprendizado em cursos sobre
        <a href="https://angular.io/"><strong>Angular</strong></a
        >, uma maneira de exercitar o conhecimento adquirido.
      </p>

      <p>
        Para saber sobre outros projetos
        <a href="https://github.com/Bxstars"><strong>GitHub</strong></a>
      </p>
    </mat-card>
</div>
