/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/theming';
// @include mat-core();
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}


table {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 2%;

}

.red {
    color: rgb(227, 94, 107);
}
.v-middle{
    vertical-align: middle;
}

.button-action{
  margin-right: 15px;
  margin-top: 20px;
  background-color: #5961a1;
  color: white;
}

.button-cancel{
  margin-right: 15px;
  margin-top: 20px;
  background-color: #fff;
  color: black;
}

.msg-success button{
  color: #307750;
}

.msg-success {
  color: black;
  background-color: #84d6a9;
  border: 2px solid #48b97b;
}

.msg-error button{
  color: rgb(153, 42, 53);
}

.msg-error{
  color: black;
  background-color: rgb(221, 105, 117);
  border: 2px solid  rgb(228, 71, 87);
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
  width: 12px;
  }

  /* Fundo da barra de rolagem */
  ::-webkit-scrollbar-track-piece {
  background-color: #EEE;
  border-left: 1px solid  #5961a1;
  }

  /* Cor do indicador de rolagem */
  ::-webkit-scrollbar-thumb:vertical,
  ::-webkit-scrollbar-thumb:horizontal {
  background-color: #bbbfc3;
  border-radius: 10px;
  border: 1px solid #EEE;
  }

  /* Cor do indicador de rolagem - ao passar o mouse */
  ::-webkit-scrollbar-thumb:vertical:hover,
  ::-webkit-scrollbar-thumb:horizontal:hover {
  background-color:  #CCC
  }
