
th {
  font-size: 12pt;
  background-color: #5961a1;
  color: #FFF;
}

td {
  font-size: 10pt;
  color: black
}

i.edit {
  color: rgb(135, 131, 141) ;
  padding: 8px;
}

i.delete {
  color: #e35e6b;
  padding: 8px;
}

.material-icons {
  transition: all 0.4s ease;
  border-radius: 30px;
}

.material-icons:hover {
 box-shadow: 2px 3px 10px 2px #47464694;
 cursor: pointer;
 background-color: rgb(255, 255, 255);
}

